@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arial";
  src: url("../../public/Arial.ttf");
}
@font-face {
  font-family: "Arial Black";
  src: url("../../public/ArialBlack.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("../../public/OpenSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../public/OpenSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../public/OpenSans-Light.ttf");
  font-weight: 300;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #252525;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type="radio"] + label span {
  transition: background 0.2s, transform 0.2s;
  height: 30px;
  width: 30px;
  border: 1px solid #cccccc;
  background-color: white;
}
input[type="radio"] + label span.radio-error {
  background-color: #FF00001A;
  border-color: #FF0000;
}

input[type="radio"]:checked + label span {
  background: linear-gradient(116.58deg, #A448ED 16.67%, rgba(58, 107, 240, 0) 100%), linear-gradient(0deg, #396BF1, #396BF1), #5163F0;
  box-shadow: 0px 0px 0px 4px white inset;
}

select, input {
  height: 30px;
}
